.username{
    padding-left: 89%;
}
.align{
    padding-left: 40px;
}
.icon-align{
    padding-left: 96%
}
.glyphicon {
    font-size: 21px;
}
.settings {
    padding-left: 90%;
    padding-top: 13px;
    
 }
